# Backend
backend/node_modules/
backend/database.sqlite
backend/database.sqlite-shm
backend/database.sqlite-wal
backend/.env

# Mobile
mobile/node_modules/
mobile/.expo/
mobile/android/
mobile/ios/
mobile/.env

# General
.DS_Store
*.log